@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Bad Script", cursive;
    background: rgb(0, 0, 0);
    color: rgb(237, 221, 201);
    line-height: 1.49;
    /*background-image: url("/img/y.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/y.jpeg") no-repeat center center/cover;
    position: relative;
    min-height: 100vh;*/
}
/*
body::before{
    content:"" ;
    position: absolute;
    inset: 0;
    background: rgba(225, 225, 225, 0.573);
    backdrop-filter: blur(5px);
    z-index: -1;
}*/
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap:60px;
}
.presentacion{
    text-align: center; /*version 1 : texto al centro*/


}
.presentacion img{
    width:240px; 
    height:auto; 
    border-radius:20px;
    box-shadow:0 5px 7px ;
    margin-top: 20px;
}
.habilidades{
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
.habilidades h2{
    font-size: 2.5rem;
    margin-bottom: 15px;

}
.habilidades .descripcion{
    margin-bottom: 26px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.contenedor-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr) );
    gap:50px;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    background: rgb(255,255,255,0.12);
    /*backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);*/
    border: 2px solid gray;
    border-radius: 20px;
    padding: 18px;
    min-height: 160px;
    transition: transform 0.25 ease,box-shadow 0.25s ease;
}
.card:hover{
    transform:translateY(-6px) ;
    box-shadow: 0 18px 30px rgba(255,255,255,0.5);

}
.card h3{
    margin-bottom: 10px;
    font-size: 1.15rem;

}
.card p{
    line-height: 1.45;
    font-size: 0.95rem;
    margin-bottom: 12px;
}

footer{
    backdrop-filter: blur(10px);
    background: rgb(31, 30, 30);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px 20px 20px;
    position: relative;
    z-index: 1;
}
.contenedor-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:40px;
    max-width: 1200;
    margin: 0 auto;
}
.footer-contacto .footer-nav{
    flex: 1;
    min-width: 250px;
}
.footer-contacto h3, .footer-nav h3{
    margin-bottom: 15px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(201, 221, 237);
    padding-bottom: 5px;
}
.footer-nav ul{
    list-style: none;
    padding: 0;
}
.footer-nav li{
    margin-bottom: 8px;
}
.footer-nav a{
    text-decoration: none;
    color: rgb(237, 221, 201);
    transition: color 0.3s ease;
}
.footer-nav a:hover{
    color:white;

}
.footer-copy{
    text-align: center;
    margin-top: 30px;
    font-size: 0.87rem;
    grid-column: 1 / -1;
}

.flip-section{
    text-align: center;
    padding: 60px 20px;
}
 
.flip-section h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
 
.flip-section p{
    margin-bottom: 26px;
    font-size: 0.9rem;
    line-height: 1.2;
}
 
.flip-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.flip-card{
    background: transparent;
    width: 220px;
    height: 230px;
    perspective: 1000px;
}/* esto de abajo es del cambio del profe lo de arriba es mio*/
/*.flip-card{
    width: 220px;
    height: 280px;
    perspective: 1000px;
    position: relative;
}*/

/* esto es del profeeee
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}
 
.flip-card:hover, .flip-card-inner{ // correciones borrar la coma despues del hover//
    transform: rotateY(180deg);
}
*/
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.flip-card-inner {
    transform: rotateY(0deg);  /*solo se muestra la imagen, esto puede ponerse en el inner de arriba pero naaaaaaaaa*/
}
/*si se quiere que aparesca primero el h3 pues se cambia el 180deg a 0deg y el mismo con el de abajo de 0deg a 180deg*/
.flip-card:hover .flip-card-inner {   /*con esto se muetra el h3, pasa de la imagen a el h3*/
    transform: rotateY(180deg);
}

 
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden ; /* se elimina esto para que funcione lo del profe*/
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(255,255,255,0.5);
}
 
.flip-card-front{
    background: rgb(31, 30, 30);
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    color: rgb(237, 221, 201);
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.flip-card-front h3{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 6px rgb(11, 194, 235);
    margin: 0;
    transition: transfom 0.3s ease, color 0.3s ease;

}
 
.flip-card-front h3:hover{
    transform: scale(1.05);
    color: white;
}
.flip-card-back{
    background: rgba(31, 30, 30, 0.9);
    border: 1px solid rgba(255,255,255,0.5);
    transform: rotateY(180deg);
}  

.flip-card-back img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transfom 0.3s ease;
} 
    /*esto se  remplazo por cambio del profe  lo de arriba es mio lo de abajo con comentario es del profe*/


/*.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(255,255,255,0.5);
}
 
.flip-card-front{
    background:rgb(31, 30, 30);
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(237, 221, 201);
    text-align: center;
    padding: 20px;
}
 
.flip-card-front h3{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    text-shadow:0 2px 6px rgb(11, 194, 235);
    margin: 0;
}
 
 
.flip-card-back{
    background: rgba(31, 30, 30, 0.9);
    border: 1px solid rgba(255,255,255,0.5);
    transform: rotateY(180deg);
}
 
.flip-card-back img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease;
}*/

/* hata aqui */
/*.modal{
    display: none;
    position: fixed;
    z-index:9999;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    justify-content: center;
    align-items: center;

}  esto lo eliminooo /cambio */
.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-contenedor{
    margin: 0;
    display: block;
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(red) ; /*estos colores no los encuentro para cambiar*/
    animation: zoom 0.3s ease;

}
@keyframes zoom{
    from{transform: scale(0.7);opacity: 0;}
    to{transform: scale(1);opacity: 1;}
}

.cerrar{
    position: absolute;
    top: 20px;
    right: 35px;
    color: aqua; /*estos colores no los encuentro para cambiar*/
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.cerrar:hover{
    color: rgba(186, 22, 22, 0.885); /*estos colores no los encuentro para cambiar*/
    
}   